// ==================================================
// Settings
// ==================================================
	//ex: $fontBody    : 'RenaultLifeRegular', 'cursive', serif, sans-serif;
	//ex: $mainColor   : #212121 !default;

	$white : #ffffff !default;
	$black : #000000 !default;
	
	$error : #ce5959 !default;
	$success : #82bf71 !default;
	$info : #f0f0f0 !default;
	
	$selectionColor : $white !default;
	$selectionBackground : $black !default;
	
	$mainBranding : $black !default;
	$subBranding : $white !default;
	
	$mainFont : $subBranding !default;

	//Menu
	$menu__height : 60px;
	$menu__item__padding : 24px;
	$menu__item__color: #ffffff;
	$menu__item__background: transparent;
	$menu__item__background__active: #f86700;
	$menu__item__color__active: #ffffff;

	// nav 
	$nav--height : 60;
	$nav--item--level1--minWidth : 200;
	$nav--background--active : #000000;
	$nav--color : #000000;
	$nav--color--active : #ffffff;
	$nav--fontfamily : 'Arial';
	$nav--fontsize : 16;
	$nav--itemPadding : 24;
	$nav--offcanvas--bp : 1200;
	$nav--icon--background : #000000;

	// offCanvas
	$offCanvas--offset--top : 0;
	$offCanvas--width : 280;
	$offcanvas--nav--item--height : 45;

	
// breakpoints