@font-face {
  font-family: "pyxicom";
  src: url('../../fonts/pyxicom.eot');
  src: url('../../fonts/pyxicom.eot?#iefix') format('eot'),
    url('../../fonts/pyxicom.woff2') format('woff2'),
    url('../../fonts/pyxicom.woff') format('woff'),
    url('../../fonts/pyxicom.ttf') format('truetype'),
    url('../../fonts/pyxicom.svg#pyxicom') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class*="pyxicom"]:before {
  display: inline-block;
  font-family: "pyxicom";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pyxicom-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.pyxicom-2x { font-size: 2em; }
.pyxicom-3x { font-size: 3em; }
.pyxicom-4x { font-size: 4em; }
.pyxicom-5x { font-size: 5em; }
.pyxicom-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.pyxicom-facebook-logo:before { content: "\EA01" }
.pyxicom-youtube-logo:before { content: "\EA02" }
