/////////////////////////////////////
/// colors
////////////////////////////////////

$white: #fff !default;
$black: #000 !default;

$success: #2ecc71 !default;
$error: #e74c3c !default;
$warning: #f39c12 !default;
