/////////////////////////////////////
/// zIndex
////////////////////////////////////

$zindex--background     : 40;
$zindex--content        : 50;
$zindex--hover          : 60;
$zindex--fixed          : 70;
$zindex--offcanvas      : 80;